{% extends 'YOLOv5/base.html' %}

{% block navbar %}

    <div class="nav-item">
        <a class="btn btn-success" href="{% url 'YOLOv5:index' %}">Back</a>
    </div>
    <h3>{{ video.created_at|date:'d-m-Y H:i' }}</h3>

{% endblock navbar %}

{% block content %}
    <div class="card box-shadow m-2 p-2 bg-light shadow-lg">
        <fieldset>
            {% if error_message %}
                <p><strong>{{ error_message }}</strong></p>
            {% endif %}
            <div id="video_container" class="embed-responsive embed-responsive-16by9">
                <video id="video" width="400" class="embed-responsive-item" controls>
                    <source src="{{ video.processed_video.url }}" type="video/mp4">
                    Your browser does not support HTML5 video.
                </video>
            </div>
        </fieldset>
        <button type="button" id="play_button" class="btn btn-success">Play</button>
        <div>
            {% include video.plot.path %}
        </div>
    </div>
    <div class="col-12 d-flex flex-row justify-content-start">
        <div class="col-6 d-flex justify-content-start">
            <div class="d-flex me-2 my-2">
                <a type="button" class="btn btn-info" href="{{ video.processed_video.url }}" download>
                    Download video
                </a>
            </div>
            <div class="d-flex me-2 my-2">
                <a type="button" class="btn btn-info" href="{{ video.signal.url }}" download>
                    Download CSV
                </a>
            </div>
        </div>
        <div class="col-6 d-flex justify-content-end">
            <div class="d-flex me-2 my-2">
                {% include "YOLOv5/delete_modal.html" %}
            </div>
        </div>
    </div>

    <script>
        var playButton = document.getElementById("play_button");
        // Event listener for the play/pause button
        playButton.addEventListener("click", function() {
            if (video.paused == true) {
                // Play the video
                video.play();

                // Update the button text to 'Pause'
                playButton.innerHTML = "Pause";
            } else {
                // Pause the video
                video.pause();

                // Update the button text to 'Play'
                playButton.innerHTML = "Play";
            }
        });
    </script>

{% endblock %}
