{% extends 'YOLOv5/base.html' %}

{% load crispy_forms_tags %}
{% load detail_tags %}

{% block navbar %}

    <h1>{{ video.created_at|date:'d-m-Y H:i' }}</h1>

{% endblock navbar %}

{% block content %}
    <div style="visibility: hidden">
        {% get_figure video %}
    </div>
    <div class="row">
        <fieldset>
            {% if error_message %}
                <p><strong>{{ error_message }}</strong></p>
            {% endif %}
            <div class="embed-responsive embed-responsive-16by9">
                <video width="400" class="embed-responsive-item" controls>
                    <source src="{{ video.processed_video.url }}" type="video/mp4">
                    Your browser does not support HTML5 video.
                </video>
            </div>
        </fieldset>
        <div>
            {% include "YOLOv5/figure.html" %}
        </div>
    </div>
    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Deletar
    </button>
    <a type="button" class="btn btn-outline-info" href="{{ video.processed_video.url }}" download>
        Download do video
    </a>
    <a type="button" class="btn btn-outline-info" href="{{ video.signal.url }}" download>
        Download do arquivo CSV
    </a>
    <form action="{% url 'YOLOv5:delete' video.id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="staticBackdropLabel">
                            Você tem certeza que quer deletar este video?
                        </h4>
                    </div>
                    <div class="modal-body">
                        <h5>
                            {{ video.updated_at|date:'d-m-Y H:i' }}
                        </h5>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <input class="btn btn-sm btn-outline-danger" type="submit" value="Delete">
                    </div>
                </div>
            </div>
        </div>
    </form>

{% endblock %}
